@model List<DisplayFlightModel>
@{
    ViewData["Title"] = "Last Five flights Added";
}

<div class="text-center">
    <h3>Latest flghts</h3>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Departure City</th>
            <th scope="col">Departure Airport</th>
            <th scope="col">Arrival city</th>
            <th scope="col">Arrival Airport</th>
            <th scope="col">Price</th>
            <th scope="col">Available Tickets</th>
            <th scope="col">Buy</th>
        </tr>
    </thead>
    
    @for (int i = 0; i < Model.Count; i++)
    {
        int number = @i+1;
        <tbody>
            <tr>
                <td>@number</td>
                <td>@Model[i].DepartureCity</td>
                <td>@Model[i].DepartureAirport.ToString()</td>
                <td>@Model[i].DestinationCity</td>
                <td>@Model[i].DestinationAirport.ToString()</td>
                <td>@Model[i].Price $</td>
                <td>@Model[i].AvailableTickets</td>
                
                <td>
                    <a asp-controller="Flight" asp-action="BuyTickets" asp-route-id="@Model[i].Id" class="btn btn-warning">Buy</a>
                </td>
            </tr>
        </tbody>
    }
</table>










